
@font-face {
  font-family: 'cdp-admin';  /* project id："162606" */
  src: url('../css/font/cdp-admin.eot');
  src: url('../css/font/cdp-admin.eot?#iefix') format('embedded-opentype'),
  url('../css/font/cdp-admin.woff') format('woff'),
  url('../css/font/cdp-admin.ttf') format('truetype'),
  url('../css/font/cdp-admin.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"cdp-admin" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before { content: "\e603"; }

.icon-jichusheshifuwu:before { content: "\e608"; }

.icon-info:before { content: "\e60a"; }

.icon-zhuye:before { content: "\e629"; }

.icon-sousuo:before { content: "\e628"; }

.icon-diannao:before { content: "\e67f"; }

.icon-94:before { content: "\e67e"; }

.icon-dingdan:before { content: "\e60b"; }

.icon-anmo:before { content: "\e62a"; }

.icon-pinglun:before { content: "\e611"; }

.icon-community:before { content: "\e61d"; }

.icon-3:before { content: "\e61b"; }

.icon-yonghu:before { content: "\e600"; }

.icon-qian:before { content: "\e604"; }

.icon-tingchechang:before { content: "\e62b"; }

.icon-collect:before { content: "\e625"; }

.icon-yonghu1:before { content: "\e601"; }

.icon-yonghu2:before { content: "\e602"; }

.icon-add:before { content: "\e61e"; }

.icon-move:before { content: "\e61f"; }

.icon-guanyuwomen:before { content: "\e627"; }

.icon-zhongqingdianxinicon09:before { content: "\e62c"; }

.icon-spa:before { content: "\e65f"; }

.icon-bar:before { content: "\e662"; }

.icon-board:before { content: "\e663"; }

.icon-kitchen:before { content: "\e665"; }

.icon-bedroom:before { content: "\e66a"; }

.icon-platform:before { content: "\e66f"; }

.icon-soundbox:before { content: "\e670"; }

.icon-wutai:before { content: "\e62d"; }

.icon-escreen:before { content: "\e673"; }

.icon-bus:before { content: "\e674"; }

.icon-linyu:before { content: "\e62e"; }

.icon-canyin:before { content: "\e62f"; }

.icon-bingxiang:before { content: "\e630"; }

.icon-jifen:before { content: "\e60c"; }

.icon-dingdan1:before { content: "\e60d"; }

.icon-iconfontttpodicon:before { content: "\e631"; }

.icon-kefu:before { content: "\e612"; }

.icon-nuanqi:before { content: "\e64a"; }

.icon-wuzhangaisheshi:before { content: "\e655"; }

.icon-kqm:before { content: "\e632"; }

.icon-weixin-copy:before { content: "\e609"; }

.icon-shuaxin:before { content: "\e620"; }

.icon-yanjing:before { content: "\e621"; }

.icon-yijianfankui:before { content: "\e622"; }

.icon-dianhua:before { content: "\e60e"; }

.icon-zhuoyou:before { content: "\e68d"; }

.icon-duofangtonghua:before { content: "\e66d"; }

.icon-kongdiao:before { content: "\e67d"; }

.icon-icon_terrace:before { content: "\e633"; }

.icon-shoucang:before { content: "\e626"; }

.icon-tuoxie:before { content: "\e634"; }

.icon-zhuoqiu:before { content: "\e635"; }

.icon-weibolu3:before { content: "\e6a4"; }

.icon-shaokaogongju:before { content: "\e636"; }

.icon-sirenyingyuan:before { content: "\e637"; }

.icon-caoping:before { content: "\e638"; }

.icon-ertongsheshi:before { content: "\e639"; }

.icon-majiangzhuo:before { content: "\e63a"; }

.icon-kaoxiang:before { content: "\e63b"; }

.icon-kafeiji:before { content: "\e63c"; }

.icon-xiyuyongpin:before { content: "\e63d"; }

.icon-24xiaoshireshui:before { content: "\e63e"; }

.icon-yugang:before { content: "\e63f"; }

.icon-weibo:before { content: "\e644"; }

.icon-shiwaiyongchi:before { content: "\e640"; }

.icon-shineiyongchi:before { content: "\e641"; }

.icon-hongbao:before { content: "\e60f"; }

.icon-tongshengchuanyi:before { content: "\e6b2"; }

.icon-touyingmubu:before { content: "\e6b3"; }

.icon-zhuoqian:before { content: "\e6b4"; }

.icon-qiandaotai:before { content: "\e6b6"; }

.icon-zhibi:before { content: "\e6b7"; }

.icon-touyingyi:before { content: "\e642"; }

.icon-chushi:before { content: "\e7a2"; }

.icon-type:before { content: "\e605"; }

.icon-connection:before { content: "\e643"; }

.icon-lishi:before { content: "\e606"; }

.icon-4:before { content: "\e645"; }

.icon-wujiaoxing:before { content: "\e61c"; }

.icon-jieshao:before { content: "\e610"; }

.icon-ichongwu:before { content: "\e73f"; }

.icon-jianshenfang:before { content: "\e668"; }

.icon-shipinhuiyi:before { content: "\e757"; }

.icon-mayishangchengdaizhifudengicon05:before { content: "\e607"; }

.icon-wujiaoxing1:before { content: "\e624"; }

.icon-xiyanqu:before { content: "\e6d8"; }

.icon-sangnayushi:before { content: "\e6ec"; }

.icon-arrowdown:before { content: "\e613"; }

.icon-arrowleft:before { content: "\e614"; }

.icon-arrowright:before { content: "\e615"; }

.icon-arrowup:before { content: "\e616"; }

.icon-check:before { content: "\e617"; }

.icon-close:before { content: "\e618"; }

.icon-fly:before { content: "\e619"; }

.icon-message:before { content: "\e61a"; }

.icon-guanbixianshi:before { content: "\e623"; }

.icon-kuandai:before { content: "\e71d"; }

