body {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
}

#dataTables-example tbody tr td {
  line-height: 34px;
}

.tip {
  position: relative;
}

.tipContent {
  display: none;
  position: absolute;
  z-index: 99999;
}

.tip-panel {
  min-width: 200px;
  margin-bottom: 0;
  border-color: #bbb;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
}

.tipContent:after {
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-7px);
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #bbb;
}

.operateBtn>button,
.operateBtn>a {
  margin-right: 5px;
}

.changeTD {
  position: relative;
}

.changeBtn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.mt40 {
  margin-top: 40px;
}